%main
  %section.section.section-shaped.section-lg
    .shape.shape-style-1.shape-primary
      .top-background
        %span
        %span
        %span
        %span
        %span
        %span
        %span
        %span
    .container.pt-lg-md
      .row.justify-content-center
        .col-lg-8
          .card.bg-secondary.shadow.border-0
            .card-header.bg-white.pb-5
              .text-muted.text-center.mb-3
                %small Dodaj zdjęcie
              .btn-wrapper.text-center
                %a.btn.btn-neutral.btn-icon{:href => "#"}
                  %span.btn-inner--icon
                    %i.fa.fa-upload.mr-2
                  %span.btn-inner--text Wgraj
            .card-body.px-lg-5.py-lg-5
              .text-center.text-muted.mb-4
                %small Oraz szczegóły
              %form{:role => "form"}
                .form-group.mb-3
                  .input-group.input-group-alternative
                    %input.form-control{:placeholder => "Tytuł", :type => "email"}/
                .form-group
                  .input-group.input-group-alternative
                    %textarea.form-control.form-control-alternative{:placeholder => "Treść ...", :rows => "3"}
                .text-center
                  %button.btn.btn-primary.my-4{:type => "button"} Wyślij zgłoszenie
%footer.footer
  .container
    .row.row-grid.align-items-center.my-md
      .col-lg-6
        %h3.text-primary.font-weight-light.mb-2 Thank you for supporting us!
        %h4.mb-0.font-weight-light Let's get in touch on any of these platforms.
      .col-lg-6.text-lg-center.btn-wrapper
        %a.btn.btn-neutral.btn-icon-only.btn-twitter.btn-round.btn-lg{"data-original-title" => "Follow us", "data-toggle" => "tooltip", :href => "https://twitter.com/creativetim", :target => "_blank"}
          %i.fa.fa-twitter
        %a.btn.btn-neutral.btn-icon-only.btn-facebook.btn-round.btn-lg{"data-original-title" => "Like us", "data-toggle" => "tooltip", :href => "https://www.facebook.com/creativetim", :target => "_blank"}
          %i.fa.fa-facebook-square
        %a.btn.btn-neutral.btn-icon-only.btn-dribbble.btn-lg.btn-round{"data-original-title" => "Follow us", "data-toggle" => "tooltip", :href => "https://dribbble.com/creativetim", :target => "_blank"}
          %i.fa.fa-dribbble
        %a.btn.btn-neutral.btn-icon-only.btn-github.btn-round.btn-lg{"data-original-title" => "Star on Github", "data-toggle" => "tooltip", :href => "https://github.com/creativetimofficial", :target => "_blank"}
          %i.fa.fa-github
    %hr/
    .row.align-items-center.justify-content-md-between
      .col-md-6
        .copyright
          ©
          %a{:href => "https://www.devlast.com", :target => "_blank"} Devlast
          Konrad Strojny
      .col-md-6
        %ul.nav.nav-footer.justify-content-end
          %li.nav-item
            %a.nav-link{:href => "https://www.creative-tim.com", :target => "_blank"} Creative Tim
          %li.nav-item
            %a.nav-link{:href => "https://www.creative-tim.com/presentation", :target => "_blank"} About Us
          %li.nav-item
            %a.nav-link{:href => "http://blog.creative-tim.com", :target => "_blank"} Blog
          %li.nav-item
            %a.nav-link{:href => "https://github.com/creativetimofficial/argon-design-system/blob/master/LICENSE.md", :target => "_blank"} MIT License
